@model SMS.Model.Login.LoginEF
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Stock Management System (SMS) Login</title>
    <link href="/Mamu/img/govt-logo.png" rel="shortcut icon" type="image/x-icon" />
    <link href="/Mamu/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Mamu/css/bootstrap-icons.css" />
    <link href="/Mamu/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="loading" id="load-loader">
        <div class="loader"></div>
    </div>
    <div class="login">
        <div class="imgelementBox">
            <h1>Stock Management System (SMS)</h1>
        </div>
        <div class="login-container">
            <div class="text-left">
                <img src="/Mamu/Images/i4ms-logo.png" alt="EAP Logo" class="mainlogo-one" />
            </div>
            <div class="form-content">
                <form asp-action="Index" asp-controller="Login" method="post" autocomplete="off" enctype="multipart/form-data" id="form1">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="hdnOTP" />
                    <input type="hidden" id="randomNumber" name="randomNumber" />

                    <label class="form-label" for="Username">Username</label>
                    <input asp-for="Username" class="form-control userName" id="Username" placeholder="Enter your user name" autocomplete="off" />
                    <span asp-validation-for="Username" class="text-danger"></span>

                    <div class="icon-input-control">
                        <label class="form-label" for="Password">Password</label>
                        <div class="password-container">
                            <input asp-for="password" type="password" class="form-control userName mb-2" id="Password" placeholder="Enter your password" autocomplete="off" />
                            <span asp-validation-for="password" class="text-danger"></span>

                            @if (ViewBag.errormassage == "1")
                            {
                                <label id="lblError" style="color:orange; font-family:Calibri;">Invalid User!</label>
                            }

                            <i class="bi bi-eye-slash toggle-password" id="togglePassword"></i>
                        </div>

                       @*  <div class="text-end">
                            <a class="forgot-link" asp-action="ForgotPassword" asp-controller="Login">Forgot password?</a>
                        </div> *@

                        <div class="captcha-sec mt-3">
                            <div class="enter-captcha">
                                <label class="form-label label-captcha">Enter Captcha</label>
                                <input asp-for="captcha" class="form-control mb-0 userName" id="captcha" placeholder="Enter Captcha" autocomplete="off" />
                                <span asp-validation-for="captcha" class="text-danger"></span>

                                @if (ViewBag.errormassage == "3")
                                {
                                    <label id="lblError" style="color:orange; font-family:Calibri;">Invalid Answer!</label>
                                }
                            </div>
                            <div class="captcha-img mt-0">
                                <div id="capt1" class="captch-code"></div>
                                <a href="javascript:void(0);" id="updateCaptcha">
                                    <em class="bi bi-arrow-clockwise"></em>
                                </a>
                            </div>
                        </div>

                        <div class="text-center mb-4">
                            <button type="button" class="btn btn-success w-100" id="btnSubmit">Submit</button>
                        </div>

                        <div class="text-center mb-2">
                            <a class="forgot-link" href="#">New user? Click 'New Bidder' to register.</a>
                        </div>

                        <div class="text-center">
                            <a asp-action="BidderRegistration" asp-controller="Registration" class="btn btn-outline-success newregistration px-4">New User</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- OTP Modal -->
    <div id="statusModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verify OTP</h5>
                </div>
                <div class="modal-body">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-md-6 col-form-label">Enter OTP</label>
                            <div class="col-xl-3 col-lg-3 col-md-6 hearingInput">
                                <div class="input-group">
                                    <input type="text" class="form-control validateNumber" maxlength="6" id="VerifyOTP" name="VerifyOTP" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btnConfirm">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/Mamu/js/sweetalert.min.js"></script>
    <script src="/Mamu/js/jquery-3.6.0.min.js"></script>
    <script src="/Mamu/js/bootstrap.bundle.js"></script>
    <script src="/Mamu/js/aes.js"></script>
    <script src="/Mamu/js/custom.js"></script>
    <script src="/Mamu/customjs/index.js"></script>

    @if (TempData["message"] != null)
    {
        <script>
            swal("", '@TempData["message"]', "warning");
        </script>
    }
    @if (TempData["msg"] != null)
    {
        <script>
            swal("", '@TempData["msg"]', "success");
        </script>
    }

    <script>
        $(document).ready(function () {
            $('#togglePassword').on('click', function () {
                const passwordInput = $('#Password');
                const type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
                passwordInput.attr('type', type);
                $(this).toggleClass('bi-eye bi-eye-slash');
            });
        });
    </script>
</body>
</html>
